html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, ::before, ::after{
    box-sizing: border-box;  
}
a, span, ::before, ::after{
    display: inline-flex;
    text-decoration: none;
    color: inherit;
}
body{
    padding-bottom: 1000px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
.card-vip-label::before,
.card-top-label::before{
	font-size: 14px;
	padding: 3px 5px;
	/* position: absolute;
	top: 5px;
	left: 0; */
	color: white;
	justify-content: center;
	align-items: center;
	border-radius: 0 5px 5px 0;
}
.card-vip-label::before{
	content: 'VIP';
	background-color: #0d6efd;
}
.card-top-label::before{
	content: 'TOP';
	background-color: #79BE00;
	margin-bottom: -15px;
	opacity: .8;
	z-index: 100;
}
.card-img{
	width: 100%;
	height: 100px;
	object-fit: cover;
	background-color: #ccc;
}
.card-price{
	color: green;
}
.card-base-info i, .card-consume i{
	color: #f7643b;
}
.card-base-info i::before{
	width: 18px;
	justify-content: center;
}
.card-vin-label{
	color: white;
	background-color: #0d6efd;
}
.card-rating{
	color: gold;
}
.card-transmition::after{
	content: 'T';
	width: 10px;
	color: white;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -5px;
}
.card-paint>p{
	cursor: pointer;
}
.card-paint-example{
	width: 30px;
	height: 15px;
	transition: .3s;
}
.card-paint>p:hover .card-paint-example{
	transform: scale(2);
}